@charset "UTF-8";

body{
    height: 100%;
    background-image: linear-gradient(to bottom, #9D1D9D, #5E295E);
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}
h1{
    font-size: 3em;
    background-color: #332333;
    width: 700px;
    height: 100px;
    color: #446333 ;
}
iframe{
    width: 660px;
    height: 415px;
} 

